<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/polls" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="auth.loggedIn()">
        <a routerLink="/mypolls" routerLinkActive="active">My Polls</a>
      </li>
      <li *ngIf="auth.loggedIn()">
        <a routerLink="/newpoll" routerLinkActive="active">New Poll</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="auth.loggedIn()">
        <a href="#"><span class="glyphicon glyphicon-user"></span> username</a>
      </li>
      <li *ngIf="auth.loggedIn()">
        <button (click)="auth.logout()" class="btn btn-default navbar-btn btn-margin">Sign out</button>
      </li>
      <li *ngIf="!auth.loggedIn()">
        <button (click)="auth.login()" class="btn btn-primary navbar-btn btn-margin">Sign in</button>
      </li>
    </ul>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

